

/* Alapértelmezett szövegméret */
#bigTable {
    font-size: 16px;
}

#smallTable {
    font-size: 12px;
}


/* Különleges méret beállítások */
@media screen and (max-width: 575px) {

    /* xs kategória */
    #bigTable {
        font-size: 10px;

        /* Példa: kisebb méret xs kategóriában */
    }

    #smallTable {
        font-size: 7px;
        font-weight: bold;
        /* Példa: kisebb méret xs kategóriában */
    }



    h1 {
        font-size: 12px;
    }

    .save-btn,
    .next-btn {
        font-size: 10px;
        /* A gombokhoz nem tartozik oldalról történő távolság */
    }

    .table {
        max-width: fit-content;
    }

    #calculator {
        max-width: max-content;

    }

    #title {

        font-size: 12px;
        /* Inherits the font-size from #bigTable */
    }

    #wrap {
        font-size: 9px;
        white-space: normal !important;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {


    /* sm kategória */
    #bigTable {
        font-size: 12px;
        /* Példa: ugyanolyan méret, mint az alapértelmezett */
    }

    #smallTable {
        font-size: 8px;
        font-weight: bold;

    }

    .table {
        max-width: fit-content;
    }

    h1 {
        font-size: 14px;
    }

    .save-btn,
    .next-btn {
        font-size: 12px;
        /* A gombokhoz nem tartozik oldalról történő távolság */
    }

    #wrap {
        font-size: 11px;
        white-space: normal !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    /* md kategória */
    #bigTable {
        font-size: 16px;
        /* Példa: nagyobb méret md kategóriában */
    }

    #smallTable {
        font-size: 14px;
        /* Példa: kisebb méret xs kategóriában */
    }

    h1 {
        font-size: 20px;
    }

    .save-btn,
    .next-btn {
        font-size: 18px;
        /* A gombokhoz nem tartozik oldalról történő távolság */
    }

    #title {
        font-size: 12px;

    }

    #wrap {
        font-size: 15px;
        white-space: normal !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    /* lg kategória */
    #bigTable {
        font-size: 18px;
        /* Példa: még nagyobb méret lg kategóriában */
    }

    #smallTable {
        font-size: 16px;
        /* Példa: kisebb méret xs kategóriában */
    }

    #wrap {
        font-size: 17px;
        white-space: normal !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    /* xl kategória */
    #bigTable {
        font-size: 22px;
        /* Példa: extra nagy méret xl kategóriában */
    }

    #smallTable {
        font-size: 18px;
        /* Példa: kisebb méret xs kategóriában */
    }

    #wrap {
        font-size: 21px;
        white-space: normal !important;
    }
}

@media screen and (min-width: 1400px) {

    /* xxl kategória */
    #bigTable {
        font-size: 24px;
        /* Példa: extra extra nagy méret xxl kategóriában */
    }

    #smallTable {
        font-size: 20px;
        /* Példa: kisebb méret xs kategóriában */
    }

    #wrap {
        font-size: 18px;
    }
}

/* table {
    table-layout:;
    
} */

#sidebar-nav {
    width: 200px;
}

#screen-size-category {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
}

.flex-container {
    display: flex;
    align-items: center;
    /* Vertikálisan középre igazítja az elemeket */
    justify-content: space-between;
    /* Oldalanként egyenletesen elosztja az elemeket */
    gap: 10px;
    /* Az elemek közötti távolság */
}

.title {
    order: -1;
    /* Az első elemet a lista végére helyezi */
}

.save-btn,
.next-btn {
    margin-left: 0;
    /* A gombokhoz nem tartozik oldalról történő távolság */
}

canvas{
    width: fit-content;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group button {
    margin-right: 0.5rem; /* Opció, hogy növelje a gombok közötti távolságot */
}
#table-custom {
    table-layout: auto !important;
}
.border-dashed {
    border-style: dashed !important;
    border-color: whitesmoke !important;
}


.document-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.header {
    text-align: center;
    margin-bottom: 30px;
}
.field-name {
    font-weight: bold;
    margin-right: 10px;
}
.data {
    margin-left: 10px;
}