/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

/* td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid #0000001a;
} */

.table th, .table td {
    padding: 0.5rem; /* Csökkentett padding */
}

.form-input,
.form-select {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    font-size: 12px;

    border-left: none;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: #CFD8DC;
}

#sidebar-nav {
    width: 200px;
}